<div class="row">
    <div class="col-md-5">

        <div class="panel panel-success">
            <div class="panel-heading">{{book.title}}</div>
            <div class="panel-body">
                <div>${{book.price}}</div>
                <div>Published
                    <b>{{book.published}}</b>
                </div>
                {{!--
                <input type="checkbox" checked="{{book.published}}" /> --}}
            </div>
            <div class="panel-footer">
                <div>{{book.lastUpdated}}</div>
            </div>
        </div>
    </div>
</div>

<div class="row">

    {{#if book.reviews}}
    <h1>Reviews</h1>
    {{/if}} 
    
    {{#each book.reviews}}
    <div>
        <h4>{{name}}</h4>
        <h4>{{Subject}}</h4>
        <p>{{message}}</p>
    </div>
    {{/each}}
</div>